html {
    background-color: rgb(0, 0, 141);
}

body {
    width:800px;
    margin: 0 auto;
    background-color: rgb(218, 214, 214);
    padding: 100px, 100px, 100px, 100px;
}

p, li, h1 {
    font-family: "Patrick Hand"
}
.bold {
    font-weight: bold;
}

img.square {
    display: block;
    height: 200px; 
    width: 200px;
}

img.long {
    display: block;
    height: 200px;
     width:400px;
}

.desc {
    color: rgb(0, 0, 170);
    font-style: bold;
}